/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


@tailwind base;
@tailwind components;
@tailwind utilities;



$customTheme: mat.define-theme();

@include mat.core();

.custom-theme{
  @include mat.all-component-themes($customTheme);

  .mdc-button, .mdc-raised-button, .mdc-stroked-button, .ndc-flat-button{
    @apply rounded-md
  }
}

.container {
  @apply mx-auto max-w-screen-2xl
}

.text-primary {
  color: #7d00fa;
}

button.match-input-height{
  height: var(--mat-form-field-container-height) !important;
}

a{
  &.active{
    color: #7d00fa;
  }
}

.mdc-notched-outline__notch{
  border-right-style: none;
}

.mat-mdc-snack-bar-container.snack-error{
  --mdc-snackbar-container-color: #ff0000;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

}

.mat-mdc-snack-bar-container.snack-success{
  --mdc-snackbar-container-color: #00ff00;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

}
